:root {
	--primary-color: #35ac75;
	--secondary-color: #f7f7f7;
	--text-color: #333;
	--light-text-color: #777;
	--border-color: #e0e0e0;
	--white-color: #fff;
	--background-color: #e0fff1;
	--font-family: "Poppins", sans-serif;
	--header-height: 80px;
	--text-font-size: 14px;
	--heading-font-size: 18px;
}

@media (max-width: 768px) {
	:root {
		--mobile-font-size: 14px;
	}
}
